# Dossier node_modules généré par npm ou yarn
interface/node_modules/

# Fichiers de log générés par les outils de développement et autres
interface/*.log
interface/*.log.*

# Dossier de build
interface/build/

# Dossier de cache de certains outils
interface/.cache/

# Fichiers de configuration spécifiques à certains IDE ou éditeurs
interface/.idea/
interface/.vscode/

# Fichiers générés par les tests et couverture de code
interface/coverage/

# Fichiers de environnement
interface/.env
interface/.env.local
interface/.env.development
interface/.env.production

# Autres fichiers qui pourraient contenir des informations sensibles ou spécifiques à la machine locale
interface/.DS_Store
interface/Thumbs.db

# Dossiers et fichiers générés par `npm` ou `yarn`
interface/yarn.lock
interface/package-lock.json

# Fichiers de config spécifiques à certains outils ou configurations locales
interface/*.config.js

interface/*.next


# Environnement virtuel
BackendScript/venv/

# Fichiers de cache Python
BackendScript/__pycache__/
BackendScript/*.py[cod]

# Fichiers de logs
BackendScript/*.log

# Fichiers générés par les tests et couverture de code
BackendScript/.pytest_cache/
BackendScript/.coverage

# Fichiers de configuration spécifiques à certains IDE ou éditeurs
BackendScript/.idea/
BackendScript/.vscode/

# Fichiers de build et de distribution
BackendScript/build/
BackendScript/dist/
BackendScript/*.egg-info/

BackendScript/shared/__pycache__

# Autres fichiers à ignorer
BackendScript/.DS_Store
BackendScript/Thumbs.db
